{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "tailwindcss"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:astro/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  },
  "overrides": [ 
    { // Define the configuration for `.astro` file.
      
      "files": ["*.astro"],
      // Allows Astro components to be parsed.
      "parser": "astro-eslint-parser",
      // Parse the script in `.astro` as TypeScript by adding the following configuration.
      // It's the setting you need when using TypeScript.
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
        "astro/no-conflict-set-directives": "error",
        "astro/no-unused-define-vars-in-style": "error"
        // override/add rules settings here, such as:
        // "astro/no-set-html-directive": "error"
      }
    },
    { // Configuration for `<script>` tag.
      // Script in `<script>` is assigned a virtual file name with the `.js` extension.
      "files": ["**/*.astro/*.js", "*.astro/*.js"],
      "env": {
        "browser": true,
        "es2020": true
      },
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {
        // override/add rules settings here, such as:
        // "no-unused-vars": "error"
        // If you are using "prettier/prettier" rule,
        // you don't need to format inside <script> as it will be formatted as a `.astro` file.
        "prettier/prettier": "off",
        "@typescript-eslint/comma-dangle": "off", // Avoid conflict rule between Eslint and Prettier
        "@typescript-eslint/consistent-type-imports": "error", // Ensure `import type` is used when it's necessary
        "tailwindcss/classnames-order": [
          "warn",
          {
            "officialSorting": true
          }
        ], // Follow the same ordering as the official plugin `prettier-plugin-tailwindcss`
        // "simple-import-sort/imports": "error", // Import configuration for `eslint-plugin-simple-import-sort`
        // "simple-import-sort/exports": "error", // Export configuration for `eslint-plugin-simple-import-sort`
        "@typescript-eslint/no-unused-vars": "off"
        // "unused-imports/no-unused-imports": "error",
        // "unused-imports/no-unused-vars": [
        //   "error",
        //   {
        //     "argsIgnorePattern": "^_"
        //   }
        // ]
      }
    }
  ]
}