---
// import ThemeToggle from './ThemeToggle';
import SocialIcons from '../../elements/SocialIcons';

const nav = [
  { link: '/blog', name: 'Blog' },
  { link: '/projects', name: 'Projects' },
  { link: '/about', name: 'About me' },
];
---

<div
  class="relative top-0 max-w-full mx-auto px-4 py-5 type dark:type-invert leading-none no-underline bg-gradient-to-b from-dark to-transparent"
>
  <div class="flex flex-row justify-between items-baseline mx-56">
    <div class="flex flex-col w-fit">
      <a href="/">
        <div class="w-56 h-auto">
          <img class="dark:flex hidden my-2" src="/lightLogo.png" />
          <img class="dark:hidden flex my-2" src="/darkLogo.png" />
        </div>
        <h6 class="text-light-txt/75">SOFTWARE ENGINEER</h6>
      </a>
    </div>
    <!-- Desktop nav links -->
    <div class="space-x-8 hidden md:block">
      <div class="flex space-x-4">
        {nav.map((item) => (
          <a href={item.link} target={'_self'} class="text-md">
            {item.name}
          </a>
        ))}
      </div>
    </div>
    <!-- Mobile nav links -->
    <div class="space-x-8 block md:hidden mt-4">
      {nav.map((item) => (
        <a href={item.link} target={'_self'} class="text-sm">
          {item.name}
        </a>
      ))}
    </div>
    <div class="space-x-4 flex flex-row items-center">
      <!-- Social Icons -->
      <SocialIcons />
      <!-- dark mode toggle -->
      <!-- <ThemeToggle /> -->
    </div>
  </div>
</div>
