---
import SocialIcons from './SocialIcons';
---

<footer class='flex align-middle justify-center mt-20'>
  <div class='relative w-screen max-h-min py-10'>
    <!-- bg image -->
    <svg
      xmlns='http://www.w3.org/2000/svg'
      xmlns:xlink='http://www.w3.org/1999/xlink'
      class='absolute left-0 bottom-0 brightness-70 -z-50'
      id='visual'
      viewBox='0 0 900 600'
      version='1.1'
      ><path
        d='M0 525L11.5 526.3C23 527.7 46 530.3 69 531.5C92 532.7 115 532.3 138.2 533.5C161.3 534.7 184.7 537.3 207.8 533.7C231 530 254 520 277 521.7C300 523.3 323 536.7 346 540.2C369 543.7 392 537.3 415.2 530.7C438.3 524 461.7 517 484.8 516.7C508 516.3 531 522.7 554 525C577 527.3 600 525.7 623 521.8C646 518 669 512 692.2 513.5C715.3 515 738.7 524 761.8 528.3C785 532.7 808 532.3 831 535.5C854 538.7 877 545.3 888.5 548.7L900 552L900 601L888.5 601C877 601 854 601 831 601C808 601 785 601 761.8 601C738.7 601 715.3 601 692.2 601C669 601 646 601 623 601C600 601 577 601 554 601C531 601 508 601 484.8 601C461.7 601 438.3 601 415.2 601C392 601 369 601 346 601C323 601 300 601 277 601C254 601 231 601 207.8 601C184.7 601 161.3 601 138.2 601C115 601 92 601 69 601C46 601 23 601 11.5 601L0 601Z'
        fill='#f2d22e'></path><path
        d='M0 523L11.5 528.3C23 533.7 46 544.3 69 543.8C92 543.3 115 531.7 138.2 528.7C161.3 525.7 184.7 531.3 207.8 534C231 536.7 254 536.3 277 534.5C300 532.7 323 529.3 346 531.5C369 533.7 392 541.3 415.2 540.2C438.3 539 461.7 529 484.8 528.3C508 527.7 531 536.3 554 539.8C577 543.3 600 541.7 623 537.7C646 533.7 669 527.3 692.2 525C715.3 522.7 738.7 524.3 761.8 530.3C785 536.3 808 546.7 831 552.3C854 558 877 559 888.5 559.5L900 560L900 601L888.5 601C877 601 854 601 831 601C808 601 785 601 761.8 601C738.7 601 715.3 601 692.2 601C669 601 646 601 623 601C600 601 577 601 554 601C531 601 508 601 484.8 601C461.7 601 438.3 601 415.2 601C392 601 369 601 346 601C323 601 300 601 277 601C254 601 231 601 207.8 601C184.7 601 161.3 601 138.2 601C115 601 92 601 69 601C46 601 23 601 11.5 601L0 601Z'
        fill='#f7b712'></path><path
        d='M0 559L11.5 556.8C23 554.7 46 550.3 69 545.8C92 541.3 115 536.7 138.2 540.3C161.3 544 184.7 556 207.8 562.2C231 568.3 254 568.7 277 563C300 557.3 323 545.7 346 541.5C369 537.3 392 540.7 415.2 546.7C438.3 552.7 461.7 561.3 484.8 562.5C508 563.7 531 557.3 554 551.3C577 545.3 600 539.7 623 539.5C646 539.3 669 544.7 692.2 549.7C715.3 554.7 738.7 559.3 761.8 556.8C785 554.3 808 544.7 831 542.2C854 539.7 877 544.3 888.5 546.7L900 549L900 601L888.5 601C877 601 854 601 831 601C808 601 785 601 761.8 601C738.7 601 715.3 601 692.2 601C669 601 646 601 623 601C600 601 577 601 554 601C531 601 508 601 484.8 601C461.7 601 438.3 601 415.2 601C392 601 369 601 346 601C323 601 300 601 277 601C254 601 231 601 207.8 601C184.7 601 161.3 601 138.2 601C115 601 92 601 69 601C46 601 23 601 11.5 601L0 601Z'
        fill='#fa9b00'></path><path
        d='M0 552L11.5 553.3C23 554.7 46 557.3 69 558.2C92 559 115 558 138.2 560C161.3 562 184.7 567 207.8 569.7C231 572.3 254 572.7 277 573C300 573.3 323 573.7 346 569.8C369 566 392 558 415.2 554.2C438.3 550.3 461.7 550.7 484.8 552.7C508 554.7 531 558.3 554 560.8C577 563.3 600 564.7 623 564.3C646 564 669 562 692.2 561.2C715.3 560.3 738.7 560.7 761.8 560.5C785 560.3 808 559.7 831 557.5C854 555.3 877 551.7 888.5 549.8L900 548L900 601L888.5 601C877 601 854 601 831 601C808 601 785 601 761.8 601C738.7 601 715.3 601 692.2 601C669 601 646 601 623 601C600 601 577 601 554 601C531 601 508 601 484.8 601C461.7 601 438.3 601 415.2 601C392 601 369 601 346 601C323 601 300 601 277 601C254 601 231 601 207.8 601C184.7 601 161.3 601 138.2 601C115 601 92 601 69 601C46 601 23 601 11.5 601L0 601Z'
        fill='#fa7d03'></path><path
        d='M0 566L11.5 568.3C23 570.7 46 575.3 69 576.7C92 578 115 576 138.2 575.5C161.3 575 184.7 576 207.8 576.3C231 576.7 254 576.3 277 574.2C300 572 323 568 346 566.5C369 565 392 566 415.2 566C438.3 566 461.7 565 484.8 567.2C508 569.3 531 574.7 554 577.2C577 579.7 600 579.3 623 576.8C646 574.3 669 569.7 692.2 566.8C715.3 564 738.7 563 761.8 563C785 563 808 564 831 566.8C854 569.7 877 574.3 888.5 576.7L900 579L900 601L888.5 601C877 601 854 601 831 601C808 601 785 601 761.8 601C738.7 601 715.3 601 692.2 601C669 601 646 601 623 601C600 601 577 601 554 601C531 601 508 601 484.8 601C461.7 601 438.3 601 415.2 601C392 601 369 601 346 601C323 601 300 601 277 601C254 601 231 601 207.8 601C184.7 601 161.3 601 138.2 601C115 601 92 601 69 601C46 601 23 601 11.5 601L0 601Z'
        fill='#f75b14'></path><path
        d='M0 585L11.5 585.7C23 586.3 46 587.7 69 588C92 588.3 115 587.7 138.2 585.5C161.3 583.3 184.7 579.7 207.8 578C231 576.3 254 576.7 277 577C300 577.3 323 577.7 346 578.7C369 579.7 392 581.3 415.2 583C438.3 584.7 461.7 586.3 484.8 584.7C508 583 531 578 554 575.8C577 573.7 600 574.3 623 575.3C646 576.3 669 577.7 692.2 579.2C715.3 580.7 738.7 582.3 761.8 582.2C785 582 808 580 831 580.8C854 581.7 877 585.3 888.5 587.2L900 589L900 601L888.5 601C877 601 854 601 831 601C808 601 785 601 761.8 601C738.7 601 715.3 601 692.2 601C669 601 646 601 623 601C600 601 577 601 554 601C531 601 508 601 484.8 601C461.7 601 438.3 601 415.2 601C392 601 369 601 346 601C323 601 300 601 277 601C254 601 231 601 207.8 601C184.7 601 161.3 601 138.2 601C115 601 92 601 69 601C46 601 23 601 11.5 601L0 601Z'
        fill='#f23022'></path>
    </svg>

    <div class='relative bottom-0'>
      <div class='flex justify-center mb-5'>
        <SocialIcons />
      </div>
      <div class='text-center -mb-5'>
        Copyright 2022 © <a
          class='text-bold dark:text-slate-900 text-white'
          href='/'
          >David Huson
        </a>
      </div>
    </div>
  </div>
</footer>
