---
import SocialIcons from '../sections/header/SocialIcons';
---

<footer
  class="w-full flex align-middle justify-center mt-20 bg-gradient-to-t from-light-bg dark:from-dark to-transparent"
>
  <div class="relative max-h-min py-10">
    <div class="relative bottom-0">
      <div class="flex justify-center mb-5">
        <SocialIcons />
      </div>
      <div class="type dark:type-invert text-center -mb-5">
        Copyright 2022 © <a class="text-orange" href="/">David Huson</a>
      </div>
    </div>
  </div>
</footer>
