---
// import { VscArrowRight } from 'react-icons/vsc';
import { ArrowRight } from 'react-feather';
import type { Project } from '../../../types/sanity-types.d';
const { title, projectLink, description, projectTags }: Project =
  Astro.props.project;
---

<div
  class="type dark:type-invert w-full max-w-[48rem] md:w-96 h-48 flex flex-col bg-gradient-to-br from-light-bg/80 dark:from-dark-primary/80 to-light-bg/10 dark:to-dark-primary/10 backdrop-blur-xl border border-light-bg/30 rounded transition ease-in-out hover:-translate-y-1 hover:scale-100 hover:bg-slate-100/90 dark:hover:bg-dark-primary/80"
>
  <h3 class="pl-2 text-lg my-3">{title}</h3>
  <p class="pl-3 h-full w-full">
    {description}
  </p>
  <div class="w-2/3 ml-2">
    <div class="hidden md:flex md:flex-wrap space-x-4 justify-start">
      {projectTags &&
        projectTags.map((tag) => (
          <span class="font-normal mb-2 text-orange">{tag.label}</span>
        ))}
    </div>
  </div>
  <div class="hidden md:absolute bottom-2 right-2">
    <a
      href={projectLink}
      target="_self"
      class="inline-flex items-center space-x-2"
    >
      <span>See More</span>
      <ArrowRight className="inline-block" />
    </a>
  </div>
</div>
