---
import Wrapper from '../../../layouts/Wrapper.astro';
// import { VscArrowRight } from 'react-icons/vsc';
import { ArrowRight } from 'react-feather';
---


<Wrapper>
  <div class="relative">
    <h3 class="font-header text-lg font-semibold mt-4 mb-2 ml-1">Projects</h3>
    <div class="lg:p-6 lg:inline-flex flex-wrap lg:gap-6 justify-center align-middle">
      <slot />
    </div>
    <div class="text-center my lg:absolute lg:right-0">
      <a
        href="/projects"
        target="_self"
        class="inline-flex items-center space-x-2 mt-2"
      >
        <span>See More</span>
        <ArrowRight className="inline-block" />
      </a>
    </div>
  </div>
</Wrapper>
